@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --line-border-fill: #f59330;
  --line-border-empty: #e0e0e0;
}

body {
  background-color: #5c493d;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* eliminate scrollbars */
  overflow: hidden;
  display: flex;
 /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1.9rem;
  max-width: 100%;
  width: 22rem;
  color: #f59330;
  font-weight: 700;
}

.progress-container::before {
  background-color: var(--line-border-empty);
  content: '';
  /* position absolute within the progress container */
  position: absolute;
  top: 50%;
  left: 0;
  /* center the progress line on the Y axis */
  transform: translateY(-50%);
  height: 0.2rem;
  width: 100%;
  /* put progress line behind the numbers */
  z-index: -1;
}

/* create the orange line that shows the progress of the transaction */
.progress {
  background-color: var(--line-border-fill);
  /* position absolute within the progress container */
  position: absolute;
  top: 50%;
  left: 0;
  /* center the progress line on the Y axis */
  transform: translateY(-50%);
  height: 0.2rem;
  width: 0%;
  /* put progress line behind the numbers */
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #f59330;
  border-radius: 50%;
  height: 1.9rem;
  width: 1.9rem;
  /* display numbers in the middle of circular backgrounds */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #5c493d;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1.9rem;
  margin: 0.33rem;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
